*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
  }



#toggle-menu{
    display: none;
}




.open-menu,.close-menu{
    display: none;
}

.header{
    position: fixed;
    width: 100%;
    background-color: rgba(81, 253, 196, 0.753);
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight:500 ;
    font-style:normal;
    z-index: 10;
   
}

i:hover{
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 7px;
    color: #000000;
}


.header p {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
    color: #000000;
  }
  
  
  
  .header a{
      text-decoration: none;
      color: black;
  }
  
  .header a:hover{
      color: blanchedalmond;
  
  
  }
  

.links{
    display: flex;
    list-style: none;
    gap: 60px;
}

body {
    margin: 0;
   
    background: linear-gradient(45deg, #0b163a, #291c64);
    overflow: hidden;
    color: white;
    overflow-y: scroll;

}

.custom-hr {
    width: 100%; 
    border: none; 
    border-top: 1px solid #ffffff; 
    margin: 20px auto; 
  }
  


.about{
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

.me{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 50%;
}

.name{
   color: rgba(81, 253, 196, 0.753);
}


.text{
    font-family: "Urbanist", sans-serif;
    font-size: large;
    margin-top: 40px;
    margin-left: 40px;

}

.text a{
    color: #3d66ee;
    text-decoration: none;
}

.title{
    max-width: 80%;
    

}

.highlight{
    color: rgba(81, 253, 196, 0.753);
    font-style: italic;
    font-weight: bold;
}

.about img{
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(81, 253, 196, 0.753);
    transition: 0.5s ease-out;

}

.about img:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.753);
}

.resume{
    background-color: #3d66ee;
    border-radius: 2px;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    border-width: 0px;
    padding: 10px;
}

.resume:hover{
    cursor: pointer;
}

.mymail{
    color: #367dc0;
    cursor: pointer;
}

.notification {
    position: absolute;
    padding: 8px;
    background-color: #ae55b1;
    color: white;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1000;
}

.about .social {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.about .social i{
    font-size: xx-large;
}

.exepertise{
    min-height: 600px;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: large;

}

.t-head{
    color:  rgba(81, 253, 196, 0.753);;
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    font-family: "Urbanist", sans-serif;
    
}

.exepertise p{
    max-width: 600px;
}

.exepertise ul{
    
    margin: 1em 0 1em 0;
    list-style-position: inside;
    border-style: solid;
    border-width: 0.07em;
    border-color: rgb(255, 255, 255);
    border-radius: 0.1em;
    padding: 1em 5em;
}


.langs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.lan img{
    width: 96px;
    height: 96px;
}

.work{
    font-family: "Urbanist", sans-serif;
    min-height: 600px;
    font-size: large;

}


.work img{
    max-width: 550px; 
    width: 100%; 
    height: auto; 
    
}

.project figure img{
    border-style:dashed;
    border-width: 1px;
    border-color:yellow
}


.pojects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1670;
}


.project{
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}




.contact{
    font-family: "Urbanist", sans-serif;
    min-height: 600px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.container{
    width: 600px;
    height: 390px; 
    max-width:700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2px;
    border: solid 1px rgb(110, 160, 125);
    


}

label{
    display: block;

}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.row{
    width: 95%;
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



input,textarea{
    width: 100%;
    border: 0;
    border-radius: 2px;
    background-color:rgba(75, 114, 185, 0.877);
    padding: 10px;
    
}

textarea{
    height: 100px;
}

.sm1{
    width: 100%;
}

.sm2{
    width: 95%;
    border: 0;
    border-radius: 2px;
    
   
}

.send{
    background-color: #3d66ee;
    border-radius: 2px;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    border-width: 0px;
    padding: 10px;
}

.contact p{
    max-width:400px
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    margin-bottom:82px;
}

.skills{
    margin-bottom:82px;
}

.footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(81, 253, 196, 0.753);
    font-family: "Urbanist", sans-serif;
}
.heart{
    color: red;
}
@media (max-width:600px){

  

    
    .links{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap:25px;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgb(98, 228, 185);
        z-index: 10;
        width: 300px;
        box-shadow: -5px 0 5px  rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    .social {
        max-width: 50%;
       

    }

    .open-menu,.close-menu{
        display: block;
    }

  
  
    #toggle-menu:checked ~ .links{
        right: 0;
    }


    #toggle-menu:checked ~ .links label{
 
        margin-bottom: 80px;
        margin-top: 40px;
    
    }

    #toggle-menu:checked ~ #overlay{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

    }


    .me{
        margin-top: 82px;
        max-width: 80%;
    }
    .about{
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: medium;
    }

    .title{
        max-width: 100%;
    }
    .exepertise{
        font-size: medium;
    }

    .t-head{
        font-size: large;
    }


    .lan img{
        width: 64px;
        height: 64px;
    }
    
    .work img{
    max-width: 300px;
    height: auto;
    }

    .ex-arts{
        max-width: 70%;
    }

    .langs{
        max-width: 70%;
    }

    .info{
        max-width: 80%;
        align-self: center;
    }

    .container{
        max-width: 80%;
    }

}

