*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
  }



#toggle-menu{
    display: none;
}

.open-menu,.close-menu{
    display: none;
}

.header{
    position: fixed;
    width: 100%;
    background-color: rgba(81, 253, 196, 0.753);
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight:500 ;
    font-style:normal;
   
}



.header p {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
    color: #000000;
  }
  
  
  
  .header a{
      text-decoration: none;
      color: black;
  }
  
  .header a:hover{
      color: blanchedalmond;
  
  
  }
  

.header ul{
    display: flex;
    list-style: none;
    gap: 60px;
}

body {
    margin: 0;
   
    background: linear-gradient(45deg, #0b163a, #291c64);
    overflow: hidden;
    color: white;
    overflow-y: scroll;

}

.custom-hr {
    width: 100%; /* Adjust the width as needed */
    border: none; /* Remove the default border */
    border-top: 1px solid #ffffff; /* Add a top border to make it thin */
    margin: 20px auto; /* Center the <hr> and add margin */
  }
  


.about{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600;
    font-family: "Urbanist", sans-serif;
    font-size: large;
}

.arts{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name{
   color: rgba(81, 253, 196, 0.753);
}


.text{
    font-family: "Urbanist", sans-serif;
    font-size: large;
    margin-top: 40px;
    margin-left: 40px;

}

.text a{
    color: #3d66ee;
    text-decoration: none;
}

.title{
    max-width: 60%;
    

}

.highlight{
    color: rgba(81, 253, 196, 0.753);
    font-style: italic;
    font-weight: bold;
}

.about img{
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(81, 253, 196, 0.753);

}

.about img:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.753);
}

.resume{
    background-color: #3d66ee;
    border-radius: 2px;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    border-width: 0px;
    padding: 10px;
}

.about .social {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.about .social i{
    font-size: x-large;
}

.exepertise{
    font-family: "Urbanist", sans-serif;
    height: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: large;

}

.t{
    color:  rgba(81, 253, 196, 0.753);;
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    font-family: "Urbanist", sans-serif;
    
}

.exepertise p{
    max-width: 600px;
}

.exepertise ul{
    
    margin: 1em 0 1em 0;
    list-style-position: inside;
    border-style: solid;
    border-width: 0.07em;
    border-color: rgb(255, 255, 255);
    border-radius: 0.1em;
    padding: 1em 5em;
}


.langs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.lan img{
    width: 96px;
    height: 96px;
}

.work{
    font-family: "Urbanist", sans-serif;
    height: 600px;
    font-size: large;

}


.work img{
    max-width: 550px;
    height: auto;
    
}

.project figure{
    border-style:dashed;
    border-width: 1px;
    border-color: rgb(144, 201, 79);
}


.pojects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1670;
}


.project{
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}




.contact{
    font-family: "Urbanist", sans-serif;
    height: 600px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container{
    width: 600px;
    height: 390px; 
    max-width:700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2px;
    border: solid 1px rgb(110, 160, 125);
    


}

label{
    display: block;

}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.row{
    width: 95%;
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



input,textarea{
    width: 100%;
    border: 0;
    border-radius: 2px;
    background-color:rgba(75, 114, 185, 0.877);
    padding: 10px;
    
}

textarea{
    height: 100px;
}

.sm1{
    width: 100%;
}

.sm2{
    width: 95%;
    border: 0;
    border-radius: 2px;
    
   
}

.send{
    background-color: #3d66ee;
    border-radius: 2px;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    border-width: 0px;
    padding: 10px;
}

.contact p{
    max-width:400px
}









@media (max-width:500px){


    .links{
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(98, 228, 185);
        z-index: 10;
        width: 300px;
        height: 100%;
        box-shadow: -5px 0 5px  rgba(0, 0, 0, 0.25);

    }

    .links a{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 20px 30px;
    }
}


